h1 {
  color: #005677;
  font-family: "Times New Roman";
  font-style: normal;
  text-align: center;
background: #c4c4c4;
letter-spacing: 10px;
background:url('https://images.pexels.com/photos/813269/pexels-photo-813269.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
margin: 0;
padding: 0;
}

.centrar {
  text-align: center;
  background: #e6e6e6;
  background: url('https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg');

}

h2 {
  color: #005677;
  font-family: "Times New Roman";
  font-style: normal;
  background: #c4c4c4;
  line-height: 84.69%;
  font-weight: 700;
  font-size: 20px;
  line-height: 84.69%;
  letter-spacing: 6px;
}

.negrita {
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
}

p {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  
}

.fuente {
  font-family: "Times New Roman";
  font-style: normal;
  font-size: 15px;
}

.espacio {
  text-indent: 70px;
}

footer {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 37px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  background: #005677;
}

i{
  color: black;
  font-size: 30px;
}